git+https://github.com/itz-jeol/pyrogram
Tgcrypto 
telethon
youtube-search
youtube-search-python
yt-dlp
git+https://github.com/cinemagoer/cinemagoer
aiofiles
ffmpeg-python
ffmpeg
aiohttp
aiohttp==3.7.4
